<a href="https://colab.research.google.com/github/rohithsukka/ImageFilters/blob/main/DS9_demoPython2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

**Variables & Values**
  * helps in reusebility

In [ ]:
a = 7

print(a * 2)
print(a + 10)

14
17

In [ ]:
name = "Bipul"

print(name)
print("Hello", name)

Bipul
Hello Bipul

In [ ]:
name = "Ajay"
age = 24
location = "Mumbai"

print(name)
print(age)
print(location)

Ajay
24
Mumbai

In [ ]:
name,age,location = "Anil" , 33 , "Delhi"

print(name)
print(age)
print(location)

Anil
33
Delhi

In [ ]:
x = y = z = 65
print(x , x * 2)
print(y , y / 2)
print(z , z + 2)

65 130
65 32.5
65 67

****
**Data Types**
  * Numerical
    * int
    * float
  * Non-Numerical
    * string
  * Sequential
    * list
    * tuple
  * boolean
    * bool
  * dictionary
  * set

In [ ]:
age = 21
print(age)
print(type(age))

21
<class 'int'>

In [ ]:
weight = 43.7
print(weight)
print(type(weight))

43.7
<class 'float'>

In [ ]:
name = "Atul"
print(name)
print(type(name))

Atul
<class 'str'>

In [ ]:
text = "Python Programming is fun"
print(text)

Python Programming is fun

In [ ]:
#text slicing
print(text[0:6])

Python

In [ ]:
#text slicing
print(text[7:12])

Progr

In [ ]:
print(len(text))

25

* **list** - mutable data type

In [ ]:
ages = [34,32,35,29,27,37,39,40]
print(ages)
print(type(ages))

[34, 32, 35, 29, 27, 37, 39, 40]
<class 'list'>

In [ ]:
print(ages[0])
print(ages[3])

34
29

In [ ]:
print(len(ages))

8

In [ ]:
#list slicing       #list_variable[initial_index : initial_index + number of values]
print(ages[2:6])

[35, 29, 27, 37]

In [ ]:
print(ages)

ages[2] = 65

print(ages)

[34, 32, 35, 29, 27, 37, 39, 40]
[34, 32, 65, 29, 27, 37, 39, 40]

In [ ]:
#adding a new entity - append()

ages.append(64)
print(ages)

[34, 32, 65, 29, 27, 37, 39, 40, 64]

In [ ]:
#adding a new entity at a defined index - insert()

ages.insert(3,70)
print(ages)

[34, 32, 65, 70, 29, 27, 37, 39, 40, 64]

In [ ]:
#remove a entity from a list - remove()
ages.remove(29)
print(ages)

[34, 32, 65, 70, 27, 37, 39, 40, 64]

In [ ]:
#remove an entity using index value - pop(index)

ages.pop(5)
print(ages)

[34, 32, 65, 70, 27, 39, 40, 64]

In [ ]:
#to know index of certain entity - index()

print(ages.index(70))

3

In [ ]:
print(ages)

[34, 32, 65, 70, 27, 39, 40, 64]

In [ ]:
#adding a new entity at 1st position
ages.insert(0 , 12)
print(ages)

[12, 34, 32, 65, 70, 27, 39, 40, 64]

* append v/s extend

In [ ]:
ages = [34,32,35,29,27,37,39,40]
new_ages = [5,4,7,9,3,6]

ages.append(new_ages)

print(ages)

[34, 32, 35, 29, 27, 37, 39, 40, [5, 4, 7, 9, 3, 6]]

In [ ]:
print(ages[8])

[5, 4, 7, 9, 3, 6]

In [ ]:
ages = [34,32,35,29,27,37,39,40]
new_ages = [5,4,7,9,3,6]

ages.extend(new_ages)
print(ages)

[34, 32, 35, 29, 27, 37, 39, 40, 5, 4, 7, 9, 3, 6]

In [ ]:
print(ages[8])

5

In [ ]:
#nested list
a = [34, 32, 35, 29, 27, 37, 39, 40, [5, 4, 7, 9, 3, 6]]

print(a[8][3])

9

* Tuple
  * tuples are immutable

In [ ]:
emps = ("John" , "Joy" , "Ajay" , "Vijay" , "Suresh")
print(emps)
print(type(emps))

('John', 'Joy', 'Ajay', 'Vijay', 'Suresh')
<class 'tuple'>

In [ ]:
emps[2] = "Sanjay"

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(len(emps))

5

In [ ]:
#slicing
print(emps[1:3])

('Joy', 'Ajay')

* boolean

In [ ]:
status = True
print(status)
print(type(status))

True
<class 'bool'>

In [ ]:
status = False
print(status)
print(type(status))

False
<class 'bool'>

* dictionary
  * key - value pair

In [ ]:
employee_details = {"Name" : "Suresh" , "Age" : 33 , "Department" : "IT"}

print(employee_details)
print(type(employee_details))

{'Name': 'Suresh', 'Age': 33, 'Department': 'IT'}
<class 'dict'>

In [ ]:
print(employee_details["Name"])
print(employee_details["Age"])

Suresh
33

In [ ]:
print(employee_details.keys())
print(employee_details.values())

dict_keys(['Name', 'Age', 'Department'])
dict_values(['Suresh', 33, 'IT'])

In [ ]:
employee_details['email'] = "suresh@abc.com"
print(employee_details)

{'Name': 'Suresh', 'Age': 33, 'Department': 'IT', 'email': 'suresh@abc.com'}

In [ ]:
employee_details["Age"] = 50
print(employee_details)

{'Name': 'Suresh', 'Age': 50, 'Department': 'IT', 'email': 'suresh@abc.com'}

In [ ]:
print(len(employee_details))

4

In [ ]:
#To remove an entity from a dictionary
employee_details.pop("Name")

'Suresh'

In [ ]:
print(employee_details)

{'Age': 50, 'Department': 'IT', 'email': 'suresh@abc.com'}

* update() function in dictionary

In [ ]:
employee_details_1 = {"Name" : "Suresh" , "Age" : 33 , "Department" : "IT"}
employee_details_2 = {"Name" : "Sanjay" , "Age" : 22 , "Department" : "HR"}

print("Employee Details 1 =>" , employee_details_1)
print("Employee Details 2 =>" , employee_details_2)

Employee Details 1 => {'Name': 'Suresh', 'Age': 33, 'Department': 'IT'}
Employee Details 2 => {'Name': 'Sanjay', 'Age': 22, 'Department': 'HR'}

In [ ]:
employee_details_1.update(employee_details_2)
print("Employee Details 1 =>" , employee_details_1)

Employee Details 1 => {'Name': 'Sanjay', 'Age': 22, 'Department': 'HR'}

In [ ]:
employee_details_1 = {"Name" : "Suresh" , "Age" : 33 , "Department" : "IT"}
print(employee_details_1)
employee_details_1_moreinfo = {"email" : "suresh@abc.com" , "salary" : 600000}
print(employee_details_1_moreinfo)

{'Name': 'Suresh', 'Age': 33, 'Department': 'IT'}
{'email': 'suresh@abc.com', 'salary': 600000}

In [ ]:
employee_details_1.update(employee_details_1_moreinfo)
print(employee_details_1)

{'Name': 'Suresh', 'Age': 33, 'Department': 'IT', 'email': 'suresh@abc.com', 'salary': 600000}

* Set

In [ ]:
x = [6,9,3,7,5,3,6,2,1,9]
print(x , type(x))

[6, 9, 3, 7, 5, 3, 6, 2, 1, 9] <class 'list'>

In [ ]:
z = {6,9,3,7,5,3,6,2,1,9}
print(z , type(z))

{1, 2, 3, 5, 6, 7, 9} <class 'set'>

In [ ]:
#add() -> to add a new member into a set
z.add(6)
print(z)

{1, 2, 3, 5, 6, 7, 9}

In [ ]:
z.add(0.7)
print(z)

{0.7, 1, 2, 3, 5, 6, 7, 9}

In [ ]:
z.add(605)
print(z)

{0.7, 1, 2, 3, 5, 6, 7, 9, 605}

In [ ]:
z.remove(5)
print(z)

{0.7, 1, 2, 3, 6, 7, 9, 605}

In [ ]:
print(z[4])

TypeError: 'set' object is not subscriptable

In [ ]:
#Typecasting - to convert data types
print(list(z))

[0.7, 1, 2, 3, 6, 7, 9, 605]

In [ ]:
print(list(z)[4])

6

*****
*****
**Operands or Operators**
  * Arthmetic operators
  * Assignment Operators
  * Comparison Operators
  * logical operators
  * membership operators
  * Identity operators
  * Bitwise Operator

In [ ]:
#Arthmetic operators

a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)  #Exponentiation
print(a % b)   #Modulo
print(a // b)  #floor division

22
12
85
3.4
1419857
2
3

In [ ]:
#Assignment Operator
x = 10

In [ ]:
x += 4
print(x)

14

In [ ]:
x -= 2
print(x)

12

In [ ]:
x *= 3
print(x)

36

In [ ]:
x /= 2
print(x)

18.0

In [ ]:
x //= 5
print(x)

3.0

In [ ]:
x **= 4
print(x)

81.0

In [ ]:
x %= 5
print(x)

1.0

In [ ]:
#Comparasion Operator
z = 21

print(z == 21)
print(z != 21)
print(z != 15)
print(z > 15)
print(z < 15)
print(z >= 15)
print(z <= 15)

True
False
True
True
False
True
False

In [ ]:
#Logical operator

print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
weight = 55.6

print(weight > 40 or weight < 60)

print(weight > 40 or weight < 50)

print(weight > 56 or weight < 60)

print(weight > 56 or weight < 50)

True
True
True
False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
weight = 55.6

print(weight > 40 and weight < 60)

print(weight > 40 and weight < 50)

print(weight > 56 and weight < 60)

print(weight > 56 and weight < 50)

True
False
False
False

In [ ]:
weight = 55.6

print(not(weight > 40 and weight < 60))

print(not(weight > 40 and weight < 50))

print(not(weight > 56 and weight < 60))

print(not(weight > 56 and weight < 50))

False
True
True
True

In [ ]:
#Membership Operators

text = "Python Programming is fun"
print("Python" in text)

True

In [ ]:
print("Java" in text)

False

In [ ]:
print("Python" not in text)

False

In [ ]:
print("Java" not in text)

True

In [ ]:
x = [5,4,3,9,8,7]

print(9 in x)
print(19 in x)

True
False

In [ ]:
#Identity operators - True if both objects are same object in memory
# is , is not

x = [4,5,6]
y = [4,5,6]

print(x == y)
print(x is y)
print(y is x)

True
False
False

In [ ]:
a = [4,5,6]
b = a

print(a == b)
print(a is b)
print(a is not b)

True
True
False